h1 {
    text-align: center;
    color: rgb(15, 11, 248);
    font-size: 50px;
    margin-bottom: 100px;
}

body {
    background-color: rgba(17, 0, 255, 0.473);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 10px;
}

div {
    display: flex;
    margin-left: 220px;
    gap: 160px;
}

p {
    color: rgb(18, 8, 163);
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.news {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 20px 40px;
    flex-wrap: wrap;
}

.card {
    max-width: 420px;
    text-align: center;
}

.caption {
    color: #ffffff;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 600;
}