h1{
    text-align: center;
    color: rgb(255, 0, 0);
}

h2{
    text-align: center;
    color: black;
    font-size: 35px;
}
body{
    background-color: rgb(250, 249, 249);
}
:root {
 --preto: rgb(0,0,0);
}

h1{
    background: repeating-linear-gradient(90deg,var(--preto));
    padding: 39px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    border-radius: 10px;
}

div {
    display:flex;
    margin-left: 20px;
    gap: 160px;
}